{% extends 'clinica_app/base1.html' %}
{% block head %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

  
{% endblock%}
{% block title %} Turnos {% endblock %}

{% block main %}
{% load static %}
{% load appointment_tags %}
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 hero-header mb-1">
    <div class="row py-3">
        <div class="col-12 text-center">
            <h1 class="display-3 text-white animated zoomIn">Reserva de turnos</h1>
            <a href="{% url 'index' %}" class="h4 text-white">Home</a>
            <i class="far fa-circle text-white px-2"></i>
            <a href="{% url 'appointment' %}" class="h4 text-white">Turnos</a>
        </div>
    </div>
</div>
<!-- Hero End -->

<section class="appointment">
    <!-- Appointment Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row gx-5">
                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="mb-4">
                        <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Turnos</h5>
                        <h1 class="display-4">Consulte sus turnos</h1>
                    </div>
                    {% if user.is_patient == True %}
                    <p class="mb-5">Ahora si, usted puede reservar un turno. </p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="{% url 'patient_appointments' %}">Tus turnos</a>
                    {% else %}
                    <p class="mb-5">Si usted aún no completo sus datos luego de registrarse en el sistema, debe hacerlo,
                        de lo contrario no podrá acceder al sistema de turnos. </p>
                    <a class="btn btn-primary rounded-pill py-3 px-5 me-3" href="{% url 'patient_create' %}">Completar
                        Datos</a>
                    {% endif %}
                    <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="{% url 'staff' %}">Staff</a>
                </div>
                <div class="col-lg-6">
                    <div class="bg-light text-center rounded p-5">
                        <h1 class="mb-4">Reserve un turno</h1>
                        <form method="get">
                            <div class="row g-3">
                                <div class="col-12 col-sm-6">
                                    <select name="specialist" id="specialist" class="form-select bg-white border-0"
                                        style="height: 55px;">
                                        <option value="">Especialidad</option>
                                        {% for specialist in specialist_list %}
                                        <option value="{{ specialist.id }}">{{ specialist.name }}</option>
                                        {% endfor %}
                                
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <select name="doctor" id="doctor" class="form-select bg-white border-0" style="height: 55px;">
                                        <option value="">Doctor</option>
                                        {% for doctor in doctor_list %}
                                        <option value="{{ doctor.id }}">{{ doctor.user.first_name }} {{ doctor.user.last_name }}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="date" id="date" data-target-input="nearest">
                                        <input type="date" id='date' name='date' class="form-control bg-white border-0 "
                                            placeholder="Día" 
                                            style="height: 55px;" min="{{ current_date|date:'Y-m-d' }}">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-primary w-100 py-3" type="submit">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Appointment End -->
    
</section>

<section>
    <div class="container">
        {% if specialist_selected or selected_doctor or date_selected %}
            {% if selected_doctor %}
                <h2>Doctor seleccionado: {{ selected_doctor }}</h2>
                <p>Especialidad: {{ selected_doctor.specialist.name }}</p>
                {% with has_appointment=request.user.patient|has_appointment_with_doctor:doctor_selected %}
                    {% if has_appointment %}
                        <p>Usted ya tiene un turno con el Dr.: {{ selected_doctor }}{{ doctor.user.first_name }} {{ doctor.user.last_name }}</p>
                        <ul>
                            {% for appointment in request.user.patient.appointments.all %}
                                {% if appointment.doctor == selected_doctor %}
                                    <li>{{ appointment.date }} - {{ appointment.start_time }} to {{ appointment.end_time }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No tiene turnos programados con el Dr.{{ selected_doctor }}{{ doctor.user.first_name }} {{ doctor.user.last_name }}.</p>
                    {% endif %}
                {% endwith %}
            {% else %}
                {% if specialist_selected %}
                    <h2>Especialidad seleccionada: {{ specialist.name }}</h2>
                    {% with has_appointment=request.user.patient|has_appointment_with_specialist:specialist_selected %}
                        {% if has_appointment %}
                            <p>Usted ya tiene turnos con médicos de la especialidad: {{ specialist.name }}</p>
                            <ul>
                                {% for appointment in request.user.patient.appointments.all %}
                                    {% if appointment.doctor.specialist.id == specialist.id %}
                                        <li>{{ appointment.doctor.user.first_name }} {{ appointment.doctor.user.last_name }} - {{ appointment.date }} - {{ appointment.start_time }} to {{ appointment.end_time }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p>No tiene turnos programados con médicos de la especialidad: {{ specialist.name }}</p>
                        {% endif %}
                    {% endwith %}
                {% endif %}
            {% endif %}

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if stored_messages %}
                <ul class="messages">
                    {% for message in stored_messages %}
                        <div class="alert alert-danger">{{ message|safe }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="container">
            <h3>Horarios disponibles:</h3>
            <table class="agenda-table table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Hora</th>
                        {% for day in weekdays %}
                            <th scope="col">
                                {{ day|date:"l" }}
                                <br>
                                {{ day|date:"d-m-Y" }}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for hour in hours %}
                        <tr>
                            <td>{{ hour }}</td>
                            {% for day in weekdays %}
                                <td>
                                    {% for slot in slot_list %}
                                        {% if slot.date == day and slot.start_time|time:'H:i' == hour %}
                                            {% if slot.status == 'available' %}
                                                <form method="POST" action="{% url 'appointment' %}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="doctor" value="{{ slot.doctor.id }}">
                                                    <input type="hidden" name="date" value="{{ slot.date }}">
                                                    <input type="hidden" name="start_time" value="{{ slot.start_time|time:'H:i' }}">
                                                    <input type="hidden" name="end_time" value="{{ slot.end_time|time:'H:i' }}">
                                                    <input type="hidden" name="notes" value="">
                                                    <input type="hidden" name="slot_id" value="{{ slot.id }}">
                                                    <button type="submit" class="btn btn-primary">Reservar</button>
                                                </form>
                                            {% else %}
                                                Ocupado
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="{{ weekdays|length  }}">No hay slots disponibles.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        
    </section>

    {% endif %}
</section>

<script>
    $(document).ready(function() {
        $('#datatable').DataTable(
            {
                paging: false
            }
        );
        
    });
</script>

{% endblock %}