{% extends 'clinica_app/admin/base.html' %}
{% block title %}
	<title>Listado de sucursales</title>
{% endblock title %}

{% block content %}
<main>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
  <h1 class="mb-3">Sucursales</h1>
  <hr>
  <table class="table table-striped">
    <thead>    
     <tr>    
       <th scope="col">Nombre</th>
       <th scope="col">Telefono</th>   
       <th scope="col">Dirección</th>    
     <th scope="col">Acción</th>
    </tr>
    
    </thead>
    
    <tbody>
    
    {% for branch_office in branch_offices %}
    
    <tr>
    
    <th scope="row">{{ branch_office.name }}</th>
    <td>{{ branch_office.phone }}</td>
    <td>{{ branch_office.address }}</td>
    
   
    <td>
      <a style="margin-right: 30px;" href="{% url 'branch_office_update' branch_office.id %}" class="btn btn-warning btn-sm">Editar</a>
      <a href="{% url 'branch_office_delete' branch_office.id %}" class="btn btn-danger btn-sm">Eliminar</a>
  </td>
  

  
   
    
    </td>
    
    </tr>
    
    
    {% empty %}
      <p>No branch_office found.</p>
    {% endfor %}
    </tbody>
    
    </table>
    
    <div class="text-center">
    
    <a href="{% url 'branch_office_create' %}"><button type="button" class="btn btn-success mb_3">Agregar Sucursal</button></a>
    
    </div>
  </div>
</div>
</div>



  </main>

{% endblock %}
