{% extends 'clinica_app/admin/base.html' %}
{% block title %}
	<title>Listado de Médicos</title>
{% endblock title %}

{% block content %}
<main>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
  <h1 class="mb-3">Médicos</h1>
  <hr>
  <table class="table table-striped">

    <thead>
    
    <tr>
    
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Sucursal</th>
    <th scope="col">Teléfono</th>
    <th scope="col">Dirección</th>
    <th scope="col">N° Matrícula</th>
    <th scope="col">Especialidad</th>
    <th scope="col">Imagen</th>
    <th scope="col">Acción</th>
    
    </tr>
    
    </thead>
    
    <tbody>
    
    {% for doctor in doctors %}
    
    <tr>
    
    <th scope="row">{{ doctor.user.first_name }}</th>
    <td>{{ doctor.user.last_name }}</td>
    <td>{% for branch_office in doctor.branch_offices.all %}
    <p>{{ branch_office.name }}</p> {% endfor %}</td>
    
    <td>{{ doctor.phone }}</td>
    <td>{{ doctor.address }}</td>
    <td>{{ doctor.mr_number }}</td>
    <td>{{ doctor.specialist.name }}</td>
      <td>{% if doctor.image_profile %}
    <img width="100px" src=" {{settings.MEDIA_URL}}{{ doctor.image_profile.url }}" alt="{{ doctor.mr_number }}">
    {% else %}
        Sin imagen
    {% endif %}</td>
    
      <td>
    <a style="margin-right: 30px;" href="{% url 'doctor_update' doctor.id %}" class="btn btn-warning btn-sm">Editar</a>
    <a href="{% url 'doctor_delete' doctor.id %}" class="btn btn-danger btn-sm">Eliminar</a>

    </td>

    </tr>

    {% empty %}
      <p>No doctors found.</p>
    {% endfor %}
    </tbody>
    
    </table>
    
    <div class="text-center">
    
    <a href="{% url 'doctor_create' %}"><button type="button" class="btn btn-success mb_3">Agregar Doctor</button></a>
    
    </div>
  </div>
</div>
</div>



  </main>

{% endblock %}
