{% extends 'clinica_app/admin/base_spec.html' %}

{% block content %}
  <h1 class="mb-3">Specialists</h1>
  <table class="table table-striped">

    <thead>
    
    <tr>
    
    <th scope="col">Name</th>
    
       
    <th scope="col">Action</th>
    
    </tr>
    
    </thead>
    
    <tbody>
    
    {% for specialist in specialists %}
    
    <tr>
    
    <th scope="row">{{ specialist.name }}</th>
    
       
    
    <td>
    
    <a style="margin-right: 30px;" href="{% url 'specialist_update' specialist.id %}">Edit</a>
    
    <a href="{% url 'specialist_delete' specialist.id %}">Remove</a>
    
    </td>
    
    </tr>
    
    
    {% empty %}
      <p>No specialists found.</p>
    {% endfor %}
    </tbody>
    
    </table>
    
    <div class="text-center">
    
    <a href="{% url 'specialist_create' %}"><button type="button" class="btn btn-primary mb_3">Add Specialist</button></a>
    
    </div>
    





{% endblock %}
