{% extends 'clinica_app/admin/base.html' %}

{% block title %}
	<title>Edit</title>
{% endblock title %}
{% block content %}
<h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Editar Especialidad</h1>

	<form action="" method="POST" class="form-horizontal">
		{% csrf_token %}
		{{ form.as_p }}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
		<button type="submit" class="btn btn-success"> Editar </button>
        </div>
    </div>
    </form>
{% endblock content %}
