{% extends 'clinica_app/admin/base.html' %}

{% block content %}
<main>
  <div class="container mt-5">
    
      <h2>Turnos</h2>
      <div class="col-md-6">
    
        <div class="row mt-3">
          <div class="col-md-6">
            <form method="GET">
                          
                <div id="patient_filter">
                  <label for="patient">Seleccionar paciente:</label>
                
                  <select name="patient" id="patient" class="form-control">
                    <option value="">Todos los pacientes</option>
                    {% for patient in patients %}
                      <option value="{{ patient.id }}">{{ patient.user.last_name }} {{ patient.user.first_name }}</option>
                    {% endfor %}
                  </select>
                </div>
              
        
              <label for="date">Filtrar por fecha:</label>
              <input type="date" name="date" id="date" class="form-control" value="{{ request.GET.date }}">
        
              <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
              {% if request.GET.patient or request.GET.date %}
                <a href="?" class="btn btn-secondary mt-3">Limpiar filtros</a>
              {% endif %}
            </form>
          </div>
        </div>
        </div>
  
      
       

        <table class="table table-hover">
          
          <thead>
            <tr class="table-title" style="background-color: #f5f5f5;">
              {% if patient %}
              
              <th colspan="2">Paciente: {{ patient.user.last_name }} {{ patient.user.first_name }}</th>
              
              
              {% endif %}
            </tr>
            <tr>
              {% if not patient_id %}
              <th>Paciente</th>
              {% endif %}
             
              <th>Doctor</th>
              
              <th>Día</th>
              <th>Desde</th>
              <th>Hasta</th>
              
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for appointment in appointments %}
              <tr>
                {% if not patient_id %}
                <td>{{ appointment.patient.user.first_name }} {{ appointment.patient.user.last_name }}</td>
                {% endif %}
               
                <td>Dr. {{ appointment.doctor.user.last_name }} {{ appointment.doctor.user.first_name }} </td>
               
               <td>{{ appointment.date }}</td>
                <td>{{ appointment.start_time|time:"g:i A" }}</td>
                <td>{{ appointment.end_time|time:"g:i A" }}</td>
                
                <td>
                  <a href="{% url 'appointment_detail' pk=appointment.pk %}" class="btn btn-sm btn-outline-secondary">Editar</a>
                  <a href="{% url 'cancel_appointment' pk=appointment.pk %}" class="btn btn-sm btn-outline-danger">Cancel</a>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="5">Sin turnos.</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
       
      </div>
    </div>
  </div>
</main>

{% endblock %}