{% extends 'clinica_app/admin/base.html' %}
{% load static %}

{% block content %}
  <h1>Create an Appointment</h1>

  {% if last_message %}
  <div class="alert alert-{{ last_message.tags }}">
      {{ last_message }}
  </div>
{% endif %}
  <form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}



    <div class="form-group">
      <label for="id_available_dates">Available Dates:</label>
      <select id="id_available_dates" name="available_dates">
        <option value="">-- Select Date --</option>
        {% for availability in availabilities %}
          {% if availability.doctor == selected_doctor %}
            <option value="{{ availability.date }}">{{ availability.date }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <label for="id_available_times">Available Times:</label>
      <select id="id_available_times" name="available_times">
        <option value="">-- Select Time --</option>
        {% for availability in availabilities %}
          {% if availability.doctor == selected_doctor and availability.date == selected_date %}
            <option value="{{ availability.start_time }}">{{ availability.start_time }} - {{ availability.end_time }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>

    <button type="submit">Create Appointment</button>
  </form>
{% endblock %}
