{% extends 'clinica_app/admin/base.html' %}

<!-- appointment_detail.html -->
{% block content %}
<h1>Appointment Details</h1>

<table>
  <tr>
    <td><strong>Doctor:</strong></td>
    <td>{{ appointment.doctor }}</td>
  </tr>
  <tr>
    <td><strong>Date:</strong></td>
    <td>{{ appointment.date }}</td>
  </tr>
  <tr>
    <td><strong>Start Time:</strong></td>
    <td>{{ appointment.start_time }}</td>
  </tr>
  <tr>
    <td><strong>End Time:</strong></td>
    <td>{{ appointment.end_time }}</td>
  </tr>
  <tr>
    <td><strong>Notes:</strong></td>
    <td>{{ appointment.notes }}</td>
  </tr>
</table>

<a class="btn btn-secondary" href="{% url 'appointment_edit' appointment.pk %}">Edit</a>

<a href="{% url 'appointment_list'  %}" class="btn btn-success">Volver</a>

{% endblock %}


